<html>
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }

    function apiCall() {
      $("#result").html('Loading...')
      $.get("/api_call", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function revokeCall() {
      $("#result").html('Loading...')
      $.get("/api_call/revoke", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function refreshCall() {
      $("#result").html('Loading...')
      $.get("/api_call/refresh", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function deleteAllPurchases() {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_purchases", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function deleteAllBills() {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_bills", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function deleteAllBillPayments() {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_bill_payments", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function deleteAllPurchaseOrders() {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_purchase_orders", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    function getAllTransactions() {
      $("#result").html('Loading...')
      $.get("/api_call/get_all_transactions", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected to Quickbooks Online!</h3>
  <p>Welcome<% if (locals.givenName) { %>, <%= locals.givenName %><% } %>!</p>
  <div>
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button onclick="apiCall()">QuickBooks API Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="refreshCall()">Refresh Token Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="revokeCall()">Revoke Token Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><button onclick="getAllTransactions()">Get All Transactions</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><button onclick="deleteAllPurchases()">Delete All Purchases</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllBills()">Delete All Bills</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllBillPayments()">Delete All Bill Payments</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllPurchaseOrders()">Delete All Purchase Orders</button></td>
          <td>Description here.</td>
        </tr>
      </tbody>
    </table>

    <br><br>
    <div><code id="result"></code></div>
</body>
</html>
