<html>
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }

    const apiCall = () => {
      $("#result").html('Loading...')
      $.get("/api_call", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    const revokeCall = () => {
      $("#result").html('Loading...')
      $.get("/api_call/revoke", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    const refreshCall = () => {
      $("#result").html('Loading...')
      $.get("/api_call/refresh", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const deleteAllPurchases = () => {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_purchases", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const deleteJournalEntries = () => {
      $("#result").html('Loading...')
      $.post("/api_call/delete_journal_entries", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const deleteAllBills = () => {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_bills", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const deleteAllBillPayments = () => {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_bill_payments", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const deleteAllPurchaseOrders = () => {
      $("#result").html('Loading...')
      $.post("/api_call/delete_all_purchase_orders", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const getAll = () => {
      $("#result").html('Loading...')
      $.get("/api_call/get_all", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }

    const getJournalEntries = () => {
      $("#result").html('Loading...')
      $.get("/api_call/get_journal_entries", (data) => {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected to Quickbooks Online!</h3>
  <p>Welcome<% if (locals.givenName) { %>, <%= locals.givenName %><% } %>!</p>
  <div>
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button onclick="apiCall()">QuickBooks API Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="refreshCall()">Refresh Token Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="revokeCall()">Revoke Token Call</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><button onclick="getAll()">Get All</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="getJournalEntries()">Get All</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><button onclick="deleteAllPurchases()">Delete All Purchases</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteJournalEntries()">Delete Journal Entries</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllBills()">Delete All Bills</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllBillPayments()">Delete All Bill Payments</button></td>
          <td>Description here.</td>
        </tr>
        <tr>
          <td><button onclick="deleteAllPurchaseOrders()">Delete All Purchase Orders</button></td>
          <td>Description here.</td>
        </tr>
      </tbody>
    </table>

    <br><br>
    <div><code id="result"></code></div>
</body>
</html>
